@theme {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-950: hsl(200, 15%, 8%);
  --color-grey-400: hsl(0, 0%, 50%);
  --color-grey-350: hsl(0, 0%, 59%);
  --color-grey-300: hsl(0, 0%, 70%);
  --color-grey-250: hsl(0, 0%, 77%);
  --color-grey-50: hsl(0, 0%, 99%);
  --color-blue-950: hsl(207, 26%, 17%);
  --color-blue-900: hsl(209, 23%, 22%);

  --font-body: "Nunito Sans", sans-serif;
}

  @keyframes reveal {
    from {
      clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
    }
    to {
      clip-path: circle(150% at var(--x, 50%) var(--y, 50%));
    }
  }

  ::view-transition-new(root) {
    animation: reveal 0.6s ease-in-out;
  }

  ::view-transition-old(root) {
    animation: none;
  }
